// background-color
$blue: #38AEF0;
$deep-blue: #253141;
$right-blue: #2f3e51;
$light-blue: #38aef0;
$chat: #999;
$main: #F5F5F5;
$alert-orange: #F35500;

// font-color
$right-gray: #999999;
$message-color: #434A54;
$border: #eeeeee;
$black: #333333;
$white: #FFF;

