.notice {
  background-color: $blue;
  text-align: center;
  color: $white;
}
.contents {
  width: 100vw;
  height: 100%;
  background-color: $white;
  position: fixed;
}
.sidebar {
  width: 300px;
  height: 100%;
  background-color: $right-blue;
  color: $white;
  float: left;
  position: fixed;
  &__top {
    height: 100px;
    background-color: $deep-blue;
    padding: 0 20px;
    line-height: 100px;
     h1 {
      font-size: 16px;
      color: $white;
      font-weight: bold;
      width: 100px;
      float: left;
    }
    .lists {
      padding-top: 40px;
      padding-right: 20px;
      .icon {
        color: $white;
        float: right;
      }
    }
  }
  &__bottom {
    height: calc(100% - 100px);
    padding: 0 20px;
    overflow: auto;
    background-color: #2f3e51;
      .group {
        padding: 0 20px;
      }
      .name {
        font-size: 15px;
        color: $white;
        padding: 20px 0 5px 0;
      }
      .message {
        font-size: 11px;
        color: $white;
        padding-bottom: 40px;
      }
    }
}
.chatbar {
  width: calc(100vw - 300px);
  height: 100%;
  float: right;
  background-color: $white;

  &__top {
    width: calc(100vw - 300px);
    height: 100px;
    background-color: $white;
    padding: 0 20px;
    .chatbar__top__left {
      width: 70%;
      &__name {
        font-size: 20px;
        color: $black;
        padding-top: 20px;
        padding-bottom: 5px;
      }
      &__member {
        font-size: 12px;
        text-align: center;
        color: $right-gray;
        float: left;
      }
    }
    .chatbar__top__right {
      width: 30%;
      float: right;
      line-height: 100px;
      position: relative;
      bottom: 30px;
      button {
        color: $blue;
        border-color: $blue;
        height: 40px;
        width: 70px;
        float: right;
        margin-right: 80px;
      }
    }
  }
  .messages {
    background-color: $main;
    height: calc(100% - 150px - 80px);
    width: calc(100vw - 300px);
    padding-top: 45px;
    overflow: scroll;
    .message {
      margin-bottom: 40px;
      padding: 0 20px;
      .upper-message {
        background-color: $main;
        display: flex;
        .name {
          color: $black;
          font-size: 16px;
          font-weight: bold;
        }
        .time{
          color: $right-gray;
          font-size: 12px;
          padding-left: 10px;
          line-height: 10px;
        }
      }
      .lower-message {
        margin-top: 10px;
        background-color: $main;
        color: $black;
        font-size: 14px;
      }
    }
  }

  .form {
    position: absolute; bottom: 0px;
    background-color: $chat;
    width: calc(100vw - 300px);
    height: 80px;
    padding: 20px;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 180px);
    }
    &__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: $blue;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
      position: absolute;
    }
  }
}

li {
  list-style: none;
}
